# Python
__pycache__/
*.pyc
.venv*/
*.egg-info/
.env

# Данные парсера (тяжёлые)
parsed_categories/
public/

# PyCharm
.idea/
*.iml

# Mac
.DS_Store

# Excel выгрузки
*.xlsx
config.js
config.js
all/
old/
parser_with_json.py
vk_ads.html
vk_catalog.xml
vk_catalog_fixed.xml
vk_upload.py
